{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
    .donut-charts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjust this to center or space-between as needed */
    }

    .donut-chart {
        width: 150px;
        height: 150px;
        margin-bottom: 10px; /* Adjust spacing between charts */
    }
</style>
{% endblock %}

{% block content %}
<div class="dash-content">
    <iframe src="/dash1/" style="width: 100%; height: 800px; border: none;"></iframe>
</div>
<div class="donut-charts-container">
    <div>
        <div id="CEO" class="donut-chart"></div>
        <div id="CSO" class="donut-chart"></div>
        <div id="CPO" class="donut-chart"></div>
        <div id="CMO" class="donut-chart"></div>
    </div>
    <div>
        <div id="CFO" class="donut-chart"></div>
        <div id="CTO" class="donut-chart"></div>
        <div id="COO" class="donut-chart"></div>
        <div id="Advisor" class="donut-chart"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function createDonutChart(id, percentage) {
        var primaryColor = '#11113A';    // Dark Blue
        var secondaryColor = '#E8AFF6';  // Light Purple
        var tertiaryColor = '#AFB0F6';   // Purple
        var colors = [secondaryColor, primaryColor]; // Colors array for low and high percentages
        
        if (percentage > 50) {
            colors = [secondaryColor, primaryColor]; // Blue for lower percentage, orange for higher
        } else {
            colors = [secondaryColor, tertiaryColor]; // Blue for lower percentage, red for higher
        }
        
        var data = [{
            values: [percentage, 100 - percentage],
            labels: ['Percentage', ''],
            type: 'pie',
            hole: .4,
            textinfo: "none",
            marker: {
                colors: colors
            }
        }];
        
        var layout = {
            title: id,
            showlegend: false,
            annotations: [{
                font: {
                    size: 20
                },
                showarrow: false,
                text: `${percentage}%`,
                x: 0.5,
                y: 0.5
            }],
            margin: { t: 30, b: 0, l: 0, r: 0 },
            plot_bgcolor: 'rgba(0,0,0,0)',  // Transparent background
            paper_bgcolor: 'rgba(0,0,0,0)'  // Transparent background
        };
        
        Plotly.newPlot(id, data, layout);
    }

    var percentages = {
        CEO: 52,
        CSO: 52,
        CPO: 51,
        CMO: 52,
        CFO: 59,
        CTO: 53,
        COO: 54,
        Advisor: 52
    };

    for (const [role, percentage] of Object.entries(percentages)) {
        createDonutChart(role, percentage);
    }
</script>
{% endblock %}
